.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* mine */

@keyframes widthOn {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes SocialwidthOn {
    0% {
        width: 0;
        max-width: 0;
    }
    100% {
        width: 90vw;
        max-width: 353px;
    }
}
@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes logoUnderbarOn {
    0% {
        width: 0;
    }
    100% {
        width: 80px;
    }
}

@keyframes editDeleteMenuOn {
    0% {
        right: -125%;
        gap: 0;
    }
    50% {
        right: 0;
        gap: 0;
    }
    100% {
        right: 0;
        gap: 20px;
    }
}
@keyframes loadingLotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
